<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egmvdev.posts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSTS"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.egmvdev.posts.ui.view.DeletePost"
            android:exported="false" />
        <activity
            android:name="com.egmvdev.posts.ui.view.EditarPost"
            android:exported="false" />
        <activity
            android:name="com.egmvdev.posts.ui.view.AgregarPost"
            android:exported="false" />
        <activity
            android:name="com.egmvdev.posts.ui.view.MostrarPost"
            android:exported="false" />
        <activity
            android:name="com.egmvdev.posts.ui.view.MostrarPosts"
            android:exported="false" />
        <activity
            android:name="com.egmvdev.posts.ui.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>